body{
    font-family: 'Otomanopee One', sans-serif;
}
h1{
    font-size: 50px;
}
.red{
    color: red;
}
button{
    background-image: linear-gradient(orange,red);
    color:white;
    border-style: none;
    height:  60px ;
    width: 150px;
    border-radius: 20px;
    font-size: 20px;
    
}

section{
    display: flex;
    height: 400px;
   
}
.half{
    width:50%;
    padding: 30px;
}
.half img{
    width: 80%;
    height: 100%;
    margin-top: 60px;
}
.mid{
    background-image: url(images/shapes/7.png);
    
    margin-top: 150px;
    }
.half1{
    width:50%;
    padding: 30px;
}
.half1 img{
    width: 80%;
    height: 100%;
    margin-top: 30px;
}
.abt{
    margin-top: 20px;
}
h2{
    text-align: center;
}
.p{
    text-align: center;
}
.hp{
    margin-top: 100px;
}

.blk{
    height: 350px;
    width:250px;
    float: left;
    margin-left: 150px;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow:2px 2px 3px 4px rgb(197, 195, 195);
    
    
}
.blk img{
    width: 100%;
    height: 70%;
}
.blk p{
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
footer{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    height: 180px;
    font-size: 15px;
    padding: 10px;
    margin-top: 20px;
}